<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">


    <camelContext id="camel" xmlns="http://camel.apache.org/schema/spring">
        <route>
            <description>Came-Route</description>
            <from uri="activemq:Comsumer.A.VirtualTopic.CAMEL"/>
            <to uri="activemq:Comsumer.B.VirtualTopic.CAMEL"/>
            <to uri="activemq:Comsumer.C.VirtualTopic.CAMEL"/>
            <to uri="activemq:Comsumer.D.VirtualTopic.CAMEL"/>
        </route>
    </camelContext>

    <bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="${camel.activemq.brokerURL}"/>
                <property name="userName" value="admin"/>
                <property name="password" value="admin"/>
            </bean>
        </property>
    </bean>


</beans>